layout {
    default_tab_template {
    // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    cwd "~/workspace/lab37/lab37/kitchenos"
    tab name="bridge-service" {
        pane {
            command "make"
            args "upbridge"
        }
        pane {
            command "make"
            args "upkosweb"
        }
    }
}
